@font-face {
    font-family: "EastSea";
    src: url('../fonts/east_sea/eastseadokdo-regular-webfont.woff');
}

@font-face {
    font-family: "Eastsea";
    src: url('../fonts/east_sea/eastseadokdo-regular-webfont.woff2');
}

